<div class="br_container" data-nav-id="nav-contact" style="--order: 7;">
    <div class="overflow-auto h-full p-5">
        <div class="br_js_header-container flex flex-wrap items-center mb-2">
            <h1 class="br_js_title text-xl">Contact</h1>
            <div class="br_js_badge br_badge ml-auto">
                <div class="br_badge_green"></div>
                XXX
            </div>
        </div>
        <p>
            XXX
        </p>
    </div>
</div>

<!--

    TODO: Remplir

-->