---
import { Image } from 'astro:assets';
import logo from '../assets/images/logo_tapered.svg';
---

<div class="br_container" data-nav-id="nav-credits" style="--order: 8;">
    <div class="overflow-auto h-full p-5">
        <div class="br_js_header-container flex flex-wrap items-center mb-2">
            <h1 class="br_js_title text-xl">Credits</h1>
            <div class="br_js_badge br_badge ml-auto">
                <div class="br_badge_green"></div>
                Open Source
            </div>
        </div>
        <p>
            - Framework: <a href="https://astro.build" target="_blank">Astro</a>
            <br />
            - UI Library: <a href="https://tailwindcss.com" target="_blank">Tailwind CSS</a>
            <br />
            - Icons (with astro-icon): <a href="https://heroicons.com" target="_blank">Heroicons</a>
            <br />
            - Gradient background: <a href="https://github.com/baunov/gradients-bg" target="_blank">baunov/gradients-bg</a>
            <br />
            => <strong>My GitHub repo:</strong> <a href="https://github.com/TomySpagnoletti/brainroadlabs_website" target="_blank">TomySpagnoletti/brainroadlabs_website</a>
            <div class="flex justify-center mt-8">
                <Image class="zoomable-image" src={logo} alt="BrainRoad Labs Logo" style="width: 150px;" loading="lazy" />
            </div>
            <p class="text-center mt-8">
                <strong><em>Crafted in Italy ❤️, con caffè Americano decaffeinato.</em></strong>
                <br />
                <a href="#" class="open-debug-graph">Open the Debug Graph</a>
            </p>
        </p>
    </div>
</div>