---
import { Image } from 'astro:assets';
import avatar from '../assets/images/avatar-akihabara.jpg';
---

<div class="br_container" data-nav-id="nav-home" style="--order: 1;">
    <div class="overflow-auto h-full p-5">
        <div class="br_js_header-container flex flex-wrap items-center mb-2">
            <h1 class="br_js_title text-xl">BrainRoad Labs</h1>
            <div class="br_js_badge br_badge ml-auto">
                <div class="br_badge_green"></div>
                #OpenToWork
            </div>
        </div>
        <p>
            Hey! I'm Tomy Spagnoletti Duval, CTO and full-stack engineer with <strong>20+ years building products</strong>. Led engineering on projects for brands like Jean Paul Gaultier, AXA, Allianz, and many more... I built tools still running smoothly after 10+ years, and had work featured at CES 2023 in the <a href="https://www.ces.tech/articles/2023/february/ces-2023-spotlights-tech-for-good/#:~:text=Regarding%20Web3%2C%20the,special%20skills%20required." target="_blank">"Tech for Good" spotlight</a>.
            <br /><br />
            I'm also the founder of BrainRoad Labs — where I mix experimentation and solid engineering.
            <br />
            One of my latest projects is <strong>Shaaare</strong>, a platform using AI and blockchain to reward creators based on the real quality of their work.
            <br /><br />
            📍 I'm moving to <strong>San Francisco</strong> and will be available from <strong>September 2025</strong> for in-person roles, collaborations or CTO-as-a-service, <a href="https://www.linkedin.com/in/tomyspagnolettiduval/" target="_blank">let's talk</a>.
            <div class="flex justify-center mt-8">
                <Image class="zoomable-image rounded-full" src={avatar} alt="TSD Picture" style="width: 200px;" loading="lazy" />
            </div>
        </p>
    </div>
</div>