<div class="br_container">
    <div class="overflow-auto h-full p-5">
        <div class="br_js_header-container flex flex-wrap items-center mb-2">
            <h1 class="br_js_title text-xl">BrainRoad Labs</h1>
            <div class="br_js_badge br_badge ml-auto">
                <div class="br_badge_green"></div>
                #OpenToWork
            </div>
        </div>
        <p>
            BrainRoad Labs builds modern, reliable, scalable web & mobile applications.<br />
            We <strong>blend</strong> AI, blockchain, classic and proven tech stacks into seamless, high-performance systems.
            <br /><br />
            Our code runs for brands like Jean Paul Gaultier, was featured in the <a href="https://www.ces.tech/articles/2023/february/ces-2023-spotlights-tech-for-good/" target="_blank">CES 2023 “Tech for Good” Spotlight</a>, and drives tools that have run for 10+ years without downtime.
            <br /><br />
            BrainRoad Labs is where <strong>experimentation</strong> meets <strong>engineering</strong>.
        </p>
    </div>
</div>

<style>
    
    /*

        TODO: Splashscreen with logo
    
    */

</style>