---
import '../styles/global.css';
import { Icon } from 'astro-icon/components';
import LottieSplash from '../components/LottieSplash.astro';
import Modal from '../components/Modal.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />		
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />		
		<meta name="apple-mobile-web-app-title" content="BrainRoad" />	
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />		
		<title>BrainRoad Labs</title>
	</head>
	<body>
		<!-- Splash Screen -->
		<div id="br_splash" class="br_splash">
			<LottieSplash />
		</div>
		<div class="gradient-bg">
			<svg xmlns="http://www.w3.org/2000/svg">
				<defs>
					<filter id="goo">
						<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
						<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
						<feBlend in="SourceGraphic" in2="goo" />
					</filter>
				</defs>
			</svg>
			<div class="gradients-container">
				<div class="g1"></div>
				<div class="g2"></div>
				<div class="g3"></div>
				<div class="g4"></div>
				<div class="g5"></div>
				<div class="interactive"></div>
			</div>
		</div>
		
		<!-- Main Content Container - using full viewport height -->
		<div class="content-wrapper h-dvh p-[10px] relative">
			
			<slot />
			
			<!-- Floating Navigation Menu -->
			<div class="floating-nav">
				<nav class="text-[14px] text-black br-minimal-nav">
					<div class="flex items-center">
						<a href="#" id="nav-home" class="group relative">
							<Icon name="heroicons:home" class="h-5 w-5" />
							<span class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 whitespace-nowrap rounded bg-gray-900 px-2 py-1 text-xs text-white opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100 group-hover:visible">Home</span>
						</a>
						<div class="mx-2 border-t w-8 menu-divider"></div>
						<a href="#" id="nav-xp" class="group relative">
							<Icon name="heroicons:folder-open" class="h-5 w-5" />
							<span class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 whitespace-nowrap rounded bg-gray-900 px-2 py-1 text-xs text-white opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100 group-hover:visible">Experience</span>
						</a>
						<div class="mx-2 border-t w-8 menu-divider"></div>
						<a href="#" id="nav-contact" class="group relative">
							<Icon name="heroicons:envelope" class="h-5 w-5" />
							<span class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 whitespace-nowrap rounded bg-gray-900 px-2 py-1 text-xs text-white opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100 group-hover:visible">Contact</span>
						</a>
						<div class="mx-2 border-t w-8 menu-divider"></div>
						<a href="#" id="nav-credits" class="group relative">
							<Icon name="heroicons:information-circle" class="h-5 w-5" />
							<span class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 whitespace-nowrap rounded bg-gray-900 px-2 py-1 text-xs text-white opacity-0 transition-all duration-200 ease-in-out group-hover:opacity-100 group-hover:visible">Credits</span>
						</a>
					</div>
				</nav>
			</div>
		</div>
		
		<script src="../scripts/index.js"></script>

		<Modal />
	</body>
</html>